body {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #25b2a8;
}

h1 {
  color: #25b2a8;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  color: #878787;
}

a:hover,
a:active,
a:visited {
  color: #25b2a8;
  text-decoration: none;
  font-weight: 600;
}

#github-link {
  font-size: 16px;
  display: block;
  text-align: left;
  margin: 10px auto;
  color: #878787;
}

#weather-icon {
  position: relative;
  top: -30px;
}

#weather-details {
  text-align: center;
  margin-top: 20px;
}

.wrapper {
  max-width: 600px;
  margin: 30px auto 10px;
}

.weather-wrapper {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature {
  margin-right: 5px;
}

.weather-temperature strong {
  color: #686767;
  font-size: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #25b2a8;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

h3 {
  color: #878787;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.btn-primary {
  background-color: #25b2a8 !important;
  border: 1px solid #25b2a8 !important;
  outline: none !important;
}
